* {
    padding: 0;
    margin: 0;
}

.brick {
    position: absolute;
    right: 20px;
    top: 20px;
    width: 200px;
    height: 200px;
}

#mpc {
    position: absolute;
    left: 20px;
    bottom: 20px;
    color: yellow;
}

#mpc .btn {
    cursor: pointer;
    background-color: black;
    opacity: 0.2;
    padding: 4px 10px;
}

#meta .btn:hover {
    opacity: 0.9;
    background-color: blue;
}

body {
    background-color: green;
    width: 100vw;
    height: 100vh;
}

#terminal {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
}
